{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}



<h3 class="h3">Featured Products </h3>
<div class="row">
    {% for product in object_list %}
    <div class="col-md-3 col-sm-6">
        <div class="product-grid4">
            <div class="product-image4">
                <a href="#">
                    <img class="pic-1" src="{{product.mainimage.url}}">
                    <img class="pic-2" src="{{product.mainimage.url}}">
                </a>
                <ul class="social">
                    <li><a href="{% url 'App_Shop:product_detail' pk=product.pk %}" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
<!--                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>-->
                    <li><a href="{% url 'App_Order:add' pk=product.pk %}" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <span class="product-new-label">New</span>
                <span class="product-discount-label">-10%</span>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="{% url 'App_Shop:product_detail' pk=product.pk %}">{{product.name}}</a></h3>
                <div class="price">
                    &#2547; {{product.price|floatformat:2}}
                    <span>&#2547; {{product.old_price|floatformat:2}}</span>
                </div>
                <a class="add-to-cart" href="{% url 'App_Order:add' pk=product.pk %}">ADD TO CART</a>
<!--                <a class="add-to-cart " href="{% url 'App_Payment:checkout' %}">BUY</a>-->
            </div>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}
